<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
{{!-- Materialize Compiled and minified CSS  --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
{{!-- Google Fonts --}}
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Libre+Baskerville|Libre+Franklin&display=swap" rel="stylesheet">
{{!-- Materialize fonts --}}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>What's for dinner?</title>
  <script src="https://code.jquery.com/jquery.js"></script>
	{{!-- <script src="js/index.js"></script> --}}
</head>

<body>
  {{{body}}}
</body>

</html>