
<div class="row">
    <div class="col s12">
      <div class="card N/A transparent">
        <div class="card-content white-text">
          <span class="card-title"></span>
          <p></p>
          <h1 id="thisthingy">Ooooops</h1>
          <h1>Sorry...🙄,</h1>
          <h1>404 Not Found</h1>
        </div>
        <div class="card-action white-text">
           <a href="/"><h4>← Back To Home</h4></a>
        </div>
      </div>
    </div>
  </div>