<div class="container">

 <div class="row">
    <div class="col s12">
      <div class="card"> 
        <div class="card-content #424242 grey-text text-darken-3">
          <span class="card-title">Card Title</span>
           <p>
            <strong>ID</strong>: {{example.id}}</p>
          <p>
          <p>
            <strong>Text</strong>: {{example.text}}</p>
          <p>
            <strong>Description:</strong> {{example.description}}</p>
           
        </div>
        <div class="card-action">
           <a href="/" class="#5d4037 brown-text text-darken-2">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>  
  
</div>


 









 


