<div class="container">
<h3>My favourite Recipes</h3>

  <div class="col s12">
    <div class="card"> 

        <div class="card-content #424242 grey-text text-darken-3">
          <span class="card-title">Recipes:</span>
          
        <ul id="example-list" class="list-group">
          {{#each favs}}
          <li class="list-group-item">
            {{title}}
          </li>
          {{/each}}
        </ul>
   
         </div>

    </div>
   </div>

</div>