
<div id="loginForm">
<br>
<br>
<br>
<br>
  <div class="card z-depth-5">
    <div class="card-content #424242 grey-text text-darken-3">
      <span class="card-title">What is in your fridge?</span>
          <hr>
        <div>
            Search our site for recipes based on what you have in your fridge right now!
        </div>
          <br>
           <p>Have an account? <a href="login">Start searching!</a></p>
          <p>Don't have a account? <a href="signup">Create one</a></p>
    </div>
  </div>
</div>