

<div class="row z-depth-5" id="searchInput">
  <div id="listings" class="input-field col s12">
    <div class="search-wrapper">
      <h5 class="#90a4ae blue-grey-text text-lighten-2">Check what you have in your fridge!</h5>
      <input id="recipe-input" placeholder="Search">
      <button id='searchAPI' class="btn-floating #90a4ae blue-grey lighten-2"><i
          class="material-icons">search</i></button>
      <br>
<div id="searchResults">

  
</div>
      
    </div>
  </div>
</div>
