<div id="createAccount">
      <div class="card z-depth-5"> 
        <div class="card-content #424242 grey-text text-darken-3">
          <span class="card-title">Welcome...</span>
           <p>
           Create your free account!
          <p>
            <br>
           <form id="signupForm" name="signup" method="post" action="/signup">
        <label for="firstname">Firstname</label>
        <input name="firstname" type="text" id="firstName"/>
        <label for="lastname">Lastname</label>
        <input name="lastname" type="text" />
        <label for="username" >Username</label>
        <input class="text" name="username" type="text" id="username"/>
        <label for="email" >Email Address</label>
        <input class="text" name="email" type="email" id="userEmail"/>
        <label for="password">Password</label>
        <input name="password" type="password" id="password" />
        <input class="btn" type="submit" value="signup" />
          </form>
          <br>
          <p>Already have a account? <a href="index">Log in</a></p>      
        </div>
        <div class="card-action">
           <a href="index" class="#5d4037 brown-text text-darken-2">← Back To Home</a>
        </div>
      </div>
    </div>
