<div id="playlist_add_check">
<div class="container z-depth-5">
      <div class="card"> 
        <div class="card-content #004d40 teal-text text-darken-4">

<h2><i class="large material-icons"> playlist_add_check</i>Your messege has been submited!</h2>
        
        </div>
        <div class="card-action">
           <a href="/" class="#5d4037 brown-text text-darken-2">â† Back To Home</a>
        </div>
      </div>
 </div>  
</div>