.list-group-item {
    line-height: 2.5;
  }
  
  body{
    background:
    url(./008.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-size:cover;
  
    /* font-family: 'Libre Baskerville', serif; */
  font-family: 'Josefin Sans', sans-serif;
  /* font-family: 'Libre Franklin', sans-serif; */
   } 
  
   #thisthingy,.nav-wrapper,h3,.container{
    background: rgba(0,0,0,.35);
    color:white;
   }
  
  .card{
     background-color: rgba(243, 243, 250, 0.795);
   } 
  
  input{
    /* color:rgba(243, 243, 250, 0.795); */
    color:rgb(28, 110, 97); 
  }
  
  input[type=submit] {
    background-color: rgb(28, 110, 97); 
    color: rgba(243, 243, 250, 0.795);
    width:100%;
    height: 45px;
  }
  
  #searchInput{
    align-content: center;
    background-color: rgba(243, 243, 250, 0.795);
    position: absolute;
    left: 10%;
    right: 10%;
    top: 35%
  
  }
  
  #loginForm{
    position: fixed;
    left: 30%;
    right: 30%;
    top: 23%
  }
  
  #createAccount{
    position: fixed;
    left: 30%;
    right: 30%;
    top: 3%
  }
  
  #playlist_add_check{
    color: rgb(28, 110, 97);
    position: fixed;
    left:20%;
    right:20%;
    top:30%
  }
  
  
  
  
  
  
  